<config clipboard="yes">
	<vfs>
		<dir name="dev">
			<dir name="pipe"> <pipe/> </dir>
			<log/>
			<jitterentropy name="entropy"/>
			<xoroshiro name="random" seed_path="/dev/entropy"/>
			<xoroshiro name="urandom" seed_path="/dev/entropy"/>
			<rtc/>
			<oss name="dsp" min_ofrag_size="8192"/>
			<capture/>
			<gpu/>
		</dir>
		<dir name=".config"> <fs label="config -> /"/> </dir>
		<dir name="downloads"> <fs label="downloads -> /"/> </dir>
		<dir name="shm"> <qtwebengine_shm/> </dir>
		<dir name="socket">
			<lwip dhcp="yes"/>
		</dir>
		<dir name="tmp"> <ram/> </dir>
		<tar name="qt6_dejavusans.tar"/>
		<tar name="qt6_noto_emoji.tar"/>
		<tar name="qt6_declarative_qml.tar"/>
		<tar name="qt6_libqgenode.tar"/>
		<tar name="qt6_libqsqlite.tar"/>
		<tar name="qt6_libqsvg.tar"/>
		<tar name="qt6_webengine_qml.tar"/>
		<tar name="qt6_webengine_resources.tar"/>
		<tar name="qt6_webengine_translations.tar"/>
		<tar name="falkon_theme.tar"/>
		<ram/>
	</vfs>
	<libc stdout="/dev/log" stderr="/dev/log" pipe="/dev/pipe" rtc="/dev/rtc" socket="/socket" pid="1">
		<mmap align_log2="21"/>
	</libc>
	<arg value="falkon"/>
	<arg value="--webEngineArgs"/>
	<arg value="--single-process"/>
	<arg value="--no-sandbox"/>
	<arg value="--disable-gpu-compositing"/>
	<arg value="--disable-gpu-shader-disk-cache"/>
	<arg value="--enable-logging"/>
	<arg value="--log-level=3"/>
	<arg value="--v=0"/>
	<env key="QT_QUICK_BACKEND" value="software"/>
	<env key="QT_FONT_DPI" value="144"/>
</config>
