<config verbose="yes">
	<parent-provides>
		<service name="ROM"/>
		<service name="LOG"/>
		<service name="RM"/>
		<service name="CPU"/>
		<service name="PD"/>
		<service name="Gui"/>
		<service name="Timer"/>
		<service name="Nic"/>
		<service name="Capture"/>
		<service name="Event"/>
	</parent-provides>

	<default caps="200"/>

	<start name="vnc_server">
		<resource name="RAM" quantum="120M"/>
		<config period_ms="40">
			<libc stdin="/dev/null" stdout="/dev/log" stderr="/dev/log" socket="/socket"/>
			<vfs>
				<dir name="dev"> <log/> <null/> </dir>
				<dir name="socket"> <lxip dhcp="yes"/> </dir>
			</vfs>
		</config>
		<route>
			<service name="Event"> <child name="event_filter" label="vnc"/> </service>
			<any-service> <parent/> <any-child/> </any-service>
		</route>
	</start>

	<start name="event_filter">
		<resource name="RAM" quantum="1M"/>
		<provides> <service name="Event"/> </provides>
		<route>
			<service name="ROM" label="config"> <parent label="event.config"/> </service>
			<any-service> <parent/> <any-child/> </any-service>
		</route>
	</start>
</config>
