<config>
	<parent-provides>
		<service name="LOG"/>
		<service name="CPU"/>
		<service name="RM"/>
		<service name="PD"/>
		<service name="ROM"/>
		<service name="TRACE"/>
		<service name="VM"/>
		<service name="Timer"/>
		<service name="Rtc"/>
		<service name="Gui"/>
		<service name="Nic"/>
		<service name="Event"/>
		<service name="Capture"/>
		<service name="Audio_in"/>
		<service name="Audio_out"/>
		<service name="Usb"/>
		<service name="Gpu"/>
		<service name="File_system"/>
		<service name="Report"/>
	</parent-provides>

	<default-route>
		<service name="File_system"> <child name="run_dir_fs"/> </service>
		<service name="Terminal">    <child name="tcp_terminal"/> </service>
		<any-service> <parent/> <any-child/> </any-service>
	</default-route>

	<default caps="100"/>

	<start name="fs_rom">
		<resource name="RAM" quantum="200M"/>
		<provides> <service name="ROM"/> </provides>
		<config/>
	</start>

	<start name="fs_report">
		<resource name="RAM" quantum="1M"/>
		<provides> <service name="Report"/> </provides>
		<config> <vfs> <fs/> </vfs> </config>
	</start>

	<start name="log_terminal">
		<binary name="file_terminal"/>
		<resource name="RAM" quantum="2M"/>
		<provides> <service name="Terminal"/> </provides>
		<config>
			<default-policy filename="log" />
			<vfs> <dir name="dev"> <log/> </dir> <fs/> </vfs>
			<libc stdout="/dev/log"/>
		</config>
		<route>
			<service name="File_system"> <child name="run_dir_fs"/> </service>
			<any-service> <parent/> </any-service>
		</route>
	</start>

	<start name="log">
		<binary name="terminal_log"/>
		<resource name="RAM" quantum="1M"/>
		<provides> <service name="LOG"/> </provides>
		<config/>
		<route>
			<service name="Terminal"> <child name="log_terminal"/> </service>
			<any-service> <parent/> </any-service>
		</route>
	</start>

	<start name="run_dir_fs" caps="200">
		<binary name="vfs"/>
		<resource name="RAM" quantum="200M"/>
		<provides>
			<service name="File_system"/>
		</provides>
		<config>
			<vfs>
				<ram/>
				<import>
					<dir name="data">
						<dir name="report"> <inline name="log">### start ###</inline> </dir>
					</dir>
				</import>
			</vfs>

			<policy label="lighttpd -> "     root="/data"        writeable="yes"/>
			<policy label="fs_report -> "    root="/data/report" writeable="yes"/>
			<policy label="log_terminal -> " root="/data/report" writeable="yes"/>
			<policy label="log_mux -> "      root="/data/report" writeable="no"/>
			<default-policy root="/data" writeable="no"/>
		</config>
	</start>

	<start name="log_mux">
		<binary name="stdin2out"/>
		<resource name="RAM" quantum="2M"/>
		<config>
			<libc stdin="/report/log" stdout="/dev/terminal"/>
			<vfs>
				<dir name="dev"> <terminal/> </dir>
				<dir name="report"> <fs/> </dir>
			</vfs>
		</config>
	</start>

	<start name="lighttpd" caps="200">
		<resource name="RAM" quantum="100M"/>
		<config>
			<arg value="lighttpd"/>
			<arg value="-f"/>
			<arg value="/etc/lighttpd/lighttpd.conf"/>
			<arg value="-D"/>
			<vfs>
				<dir name="dev">
					<log/> <null/> <rtc/>
					<jitterentropy name="random"/>
				</dir>
				<dir name="socket"> <lwip dhcp="yes"/> </dir>
				<dir name="etc">
					<dir name="lighttpd">
						<rom name="lighttpd.conf"/>
					</dir>
				</dir>
				<dir name="webroot"> <fs/> </dir>
				<dir name="tmp"> <ram/> </dir>
			</vfs>
			<libc stdin="/dev/null" stdout="/dev/log" stderr="/dev/log"
			      rtc="/dev/rtc" rng="/dev/random" socket="/socket"/>
		</config>
	</start>

	<start name="tcp_terminal">
		<resource name="RAM" quantum="8M"/>
		<provides> <service name="Terminal"/> </provides>
		<config>
			<policy label_prefix="log_mux ->" port="23"/>
			<vfs>
				<dir name="dev"> <log/> </dir>
				<dir name="socket"> <lwip dhcp="yes"/> </dir>
				<dir name="pipe"> <pipe/> </dir>
			</vfs>
			<libc stdout="/dev/log" socket="/socket" pipe="/pipe"/>
		</config>
	</start>

	<start name="init" caps="4000">
		<resource name="RAM" quantum="1G"/>
		<route>
			<service name="ROM" unscoped_label="init">       <parent/> </service>
			<service name="ROM" unscoped_label="ld.lib.so">  <parent/> </service>
			<service name="ROM"     label_last="ld.lib.so">  <parent/> </service>
			<service name="ROM" label_last="mesa_gpu_drv.lib.so">
				<parent label="mesa_gpu_drv.lib.so"/> </service>
			<service name="ROM">    <child name="fs_rom"/>    </service>
			<service name="Report"> <child name="fs_report"/> </service>
			<service name="LOG">    <child name="log"/>       </service>
			<service name="CPU">         <parent/> </service>
			<service name="RM">          <parent/> </service>
			<service name="PD">          <parent/> </service>
			<service name="TRACE">       <parent/> </service>
			<service name="VM">          <parent/> </service>
			<service name="Timer">       <parent/> </service>
			<service name="Rtc">         <parent/> </service>
			<service name="Gui">         <parent/> </service>
			<service name="Nic">         <parent/> </service>
			<service name="Event">       <parent/> </service>
			<service name="Capture">     <parent/> </service>
			<service name="Audio_in">    <parent/> </service>
			<service name="Audio_out">   <parent/> </service>
			<service name="Usb">         <parent/> </service>
			<service name="Gpu">         <parent/> </service>
			<service name="File_system"> <parent/> </service>
		</route>
	</start>

</config>
