<config ld_verbose="yes">
	<libc stdin="/dev/terminal" stdout="/dev/terminal"
	      stderr="/dev/terminal" rtc="/dev/rtc" pipe="/dev/pipe"
	      socket="/sockets" />
	<vfs>
		<fs/>
	</vfs>
	<arg>bash</arg>
	<env name="SHELL">bash</env>
	<env name="TERM">screen</env>
	<env name="PATH">/bin</env>
	<env name="HOME">/</env>
</config>
