<config verbose="yes">
	<parent-provides>
		<service name="ROM"/>
		<service name="Rtc"/>
		<service name="Report"/>
		<service name="LOG"/>
		<service name="CPU"/>
		<service name="PD"/>
		<service name="Gui"/>
		<service name="Timer"/>
		<service name="File_system"/>
		<service name="Nic"/>
	</parent-provides>

	<default-route>
		<any-service> <parent/> <any-child/> </any-service>
	</default-route>

	<default caps="100"/>

	<start name="terminal" caps="110">
		<resource name="RAM" quantum="30M"/>
		<provides><service name="Terminal"/></provides>
		<route>
			<service name="ROM" label="config">
				<parent label="terminal.config"/> </service>
			<service name="ROM" label="clipboard">
				<parent label="clipboard"/> </service>
			<service name="Report" label="clipboard">
				<parent label="clipboard"/> </service>
			<service name="File_system">
				<parent identity="fonts"/> </service>
			<any-service> <parent/> <any-child/> </any-service>
		</route>
	</start>

	<start name="vfs" caps="250">
		<resource name="RAM" quantum="30M"/>
		<provides><service name="File_system"/></provides>
		<route>
			<service name="ROM" label="config">
				<parent label="vfs.config"/> </service>
			<service name="Terminal"> <child name="terminal"/> </service>
			<service name="File_system" label_prefix="home ->">    <parent identity="home"/> </service>
			<service name="File_system" label_prefix="report ->">  <parent identity="report"/> </service>
			<service name="File_system" label_prefix="config ->">  <parent identity="config"/> </service>
			<service name="File_system" label_prefix="shared ->">  <parent identity="shared"/> </service>
			<service name="File_system" label_prefix="dotfiles ->"><parent identity="dotfiles"/> </service>
			<any-service> <parent/> </any-service>
		</route>
	</start>

	<start name="vfs_rom">
		<resource name="RAM" quantum="30M"/>
		<binary name="fs_rom"/>
		<provides> <service name="ROM"/> </provides>
		<config/>
		<route>
			<service name="File_system"> <child name="vfs"/> </service>
			<any-service> <parent/> </any-service>
		</route>
	</start>

	<start name="/bin/bash" caps="1000">
		<resource name="RAM" quantum="30M" />
		<route>
			<service name="ROM" label="config">
				<parent label="bash.config"/> </service>
			<service name="File_system"> <child name="vfs"/> </service>
			<service name="ROM" label_suffix=".lib.so"> <parent/> </service>
			<service name="ROM" label_last="/bin/bash"> <child name="vfs_rom"/> </service>
			<service name="ROM" label_prefix="/bin">    <child name="vfs_rom"/> </service>
			<any-service> <parent/> <any-child/> </any-service>
		</route>
	</start>
</config>
