<config verbose_domain_state="yes">
	<report interval_sec="5" bytes="yes" config="yes" config_triggers="yes"/>

	<default-policy domain="default"/>
	<policy label="wireguard -> uplink_session" domain="uplink"/>

	<domain name="uplink" interface="192.168.21.31/24" use_arp="no">
		<nat domain="default" tcp-ports="1000" udp-ports="1000" icmp-ids="1000"/>
	</domain>

	<domain name="default" interface="10.0.1.1/24">
		<dhcp-server ip_first="10.0.1.2" ip_last="10.0.1.200">
			<dns-server ip="192.168.21.32"/>
		</dhcp-server>
		<tcp dst="0.0.0.0/0">
			<permit-any domain="uplink"/>
		</tcp>
		<udp dst="0.0.0.0/0">
			<permit-any domain="uplink"/>
		</udp>
		<icmp dst="0.0.0.0/0" domain="uplink"/>
	</domain>
</config>
