<config>
	<parent-provides>
		<service name="ROM"/>
		<service name="PD"/>
		<service name="CPU"/>
		<service name="LOG"/>
		<service name="Timer"/>
		<service name="File_system"/>
		<service name="Nic"/>
		<service name="Report"/>
		<service name="Rtc"/>
	</parent-provides>

	<default-route>
		<service name="File_system"> <parent label="config"/> </service>
		<any-service> <parent/> </any-service>
	</default-route>

	<service name="Nic">
		<default-policy> <child name="nic_router"/> </default-policy>
	</service>

	<default caps="100"/>

	<start name="fs_rom">
		<resource name="RAM" quantum="1M"/>
		<provides> <service name="ROM"/> </provides>
		<config/>
	</start>

	<start name="vfs">
		<resource name="RAM" quantum="1M"/>
		<provides> <service name="File_system"/> </provides>
		<config>
			<vfs>
				<fs/>
				<import>
					<rom name="nic_router.config"/>
					<rom name="wireguard.config"/>
				</import>
			</vfs>
		</config>
	</start>

	<start name="nic_router">
		<resource name="RAM" quantum="4M"/>
		<provides>
			<service name="Nic"/>
			<service name="Uplink"/>
		</provides>
		<route>
			<service name="ROM" label="config">
				<child name="fs_rom" label="nic_router.config"/>
			</service>
			<any-service> <parent/> </any-service>
		</route>
	</start>

	<start name="wireguard">
		<resource name="RAM" quantum="10M"/>
		<route>
			<service name="ROM" label="config">
				<child name="fs_rom" label="wireguard.config"/>
			</service>
			<service name="Uplink"> <child name="nic_router"/> </service>
			<any-service> <parent/> </any-service>
		</route>
	</start>
</config>
