<config ld_verbose="yes">
	<libc stdin="/dev/terminal" stdout="/dev/terminal"
	      stderr="/dev/terminal" rtc="/dev/rtc" pipe="/dev/pipe"/>
	<vfs>
		<fs/>
	</vfs>
	<arg value="bash"/>
	<env key="SHELL" value="bash"/>
	<env key="TERM" value="screen"/>
	<env key="PATH" value="/bin" />
	<env key="HOME" value="/" />
</config>
