<config>
	<vfs>
		<tar name="coreutils.tar" />
		<tar name="vim.tar" />
		<tar name="bash.tar" />
		<tar name="sed.tar" />
		<tar name="grep.tar" />
		<tar name="findutils.tar" />
		<tar name="diffutils.tar" />
		<tar name="which.tar" />
		<tar name="less.tar" />

		<dir name="home">   <fs label="home"/> </dir>
		<dir name="report"> <fs label="report" writeable="no"/> </dir>
		<dir name="config"> <fs label="config"/> </dir>
		<dir name="shared"> <fs label="shared"/> </dir>
		<dir name="share">
			<fs label="dotfiles" writeable="no"/>
		</dir>
		<dir name="tmp"> <ram/> </dir>
		<dir name="dev">
			<zero/> <null/> <terminal/>
			<rtc/>
			<dir name="pipe"> <pipe/> </dir>
		</dir>
	</vfs>

	<policy label_prefix="vfs_rom" root="/"/>
	<default-policy root="/" writeable="yes"/>
</config>
